* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(Challenge.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.navbar {
    display: flex;
    gap: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.content {
    margin-top: 150px;
    text-align: center;
    padding: 20px;
}

.motivation {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: orange;
}

footer {
    background-color: orange;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 5px;
        position: static;
    }

    .content {
        margin-top: 100px;
        padding: 10px;
    }

    .motivation {
        padding: 10px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #logo {
        width: 80px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .content {
        font-size: 16px;
        padding: 5px;
    }

    .motivation p {
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links,
    .footer-social {
        flex-direction: column;
    }
}
